content/convert multiselect into link to another.json
{
    "name": "temp",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 384410
            },
            "mapper": {
                "base": "appwPpoyWxFGwSnMi",
                "useColumnId": false,
                "table": "Client_Services",
                "maxRecords": "350",
                "view": "viwG1iQ8Feelp0fP5"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "005 - pawel.lipowczan@automation.house airtable connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "[Tigers] Clients"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Client_Services"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "TOCLEAN"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "name",
                        "label": "name",
                        "type": "text"
                    },
                    {
                        "name": "client",
                        "label": "client",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "client_nip",
                        "label": "client_nip",
                        "type": "array"
                    },
                    {
                        "name": "client_currency",
                        "label": "client_currency",
                        "type": "array"
                    },
                    {
                        "name": "status",
                        "label": "status",
                        "type": "text"
                    },
                    {
                        "name": "service",
                        "label": "service",
                        "type": "array",
                        "editable": true
                    },
                    {
                        "name": "specialist",
                        "label": "specialist",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "supervisor",
                        "label": "supervisor",
                        "type": "array"
                    },
                    {
                        "name": "service_type",
                        "label": "service_type",
                        "type": "text"
                    },
                    {
                        "name": "bazowe_fee_netto",
                        "label": "bazowe_fee_netto",
                        "type": "number"
                    },
                    {
                        "name": "budzet",
                        "label": "budzet",
                        "type": "number"
                    },
                    {
                        "name": "procent_od_budzetu",
                        "label": "procent_od_budzetu",
                        "type": "number"
                    },
                    {
                        "name": "business_line",
                        "label": "business_line",
                        "type": "text"
                    },
                    {
                        "name": "project",
                        "label": "project",
                        "type": "text"
                    },
                    {
                        "name": "specialist_email",
                        "label": "specialist_email",
                        "type": "array"
                    },
                    {
                        "name": "supervisor_email",
                        "label": "supervisor_email",
                        "type": "array"
                    },
                    {
                        "name": "termin_platnosci_dni",
                        "label": "termin_platnosci_dni",
                        "type": "number"
                    },
                    {
                        "name": "stawka_vat",
                        "label": "stawka_vat",
                        "type": "number"
                    },
                    {
                        "name": "start",
                        "label": "start",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "end",
                        "label": "end",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "temp_check",
                        "label": "temp_check",
                        "type": "boolean"
                    },
                    {
                        "name": "services",
                        "label": "services",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "temp",
                        "label": "temp",
                        "type": "boolean"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.service}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 384410
            },
            "mapper": {
                "base": "appwPpoyWxFGwSnMi",
                "view": "viwhcOstXSsVkVJIq",
                "table": "Services",
                "formula": "Name = \"{{3.value}}\"",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "[Tigers] Clients"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Grid view"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Services"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "005 - pawel.lipowczan@automation.house airtable connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Client_Services",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Client_Services"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 384410
                            },
                            "filter": {
                                "name": "Service exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.Name}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appwPpoyWxFGwSnMi",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "Services",
                                "id": "{{2.id}}",
                                "record": {
                                    "fldeYdiFzq7sXevS0": "{{add(ifempty(2.Client_Services; emptyarray); 1.id)}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1221,
                                    "y": -204
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "005 - pawel.lipowczan@automation.house airtable connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "[Tigers] Clients"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Services"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldeYdiFzq7sXevS0": {
                                                    "mode": "map"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldmwb9NuTTay48Yq",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldeYdiFzq7sXevS0",
                                                "type": "array",
                                                "label": "Client_Services",
                                                "spec": {
                                                    "label": "Record ID",
                                                    "name": "value"
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "label": "Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Client_Services",
                                        "label": "Client_Services",
                                        "type": "array",
                                        "spec": {
                                            "label": "Record ID"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 384410
                            },
                            "mapper": {
                                "base": "appwPpoyWxFGwSnMi",
                                "table": "Services",
                                "record": {
                                    "fldeYdiFzq7sXevS0": [
                                        "{{1.id}}"
                                    ],
                                    "fldmwb9NuTTay48Yq": "{{3.value}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "[Tigers] Clients"
                                        },
                                        "table": {
                                            "label": "Services",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldmwb9NuTTay48Yq",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "fldeYdiFzq7sXevS0",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Client_Services"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldeYdiFzq7sXevS0": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "005 - pawel.lipowczan@automation.house airtable connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldmwb9NuTTay48Yq",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldeYdiFzq7sXevS0",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Client_Services"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Client_Services",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Client_Services"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}